@import 'assets/scss/main';
.button {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	padding: 16px 21px;
	border: 0;
	border-radius: 10px;
	color: $white;
	cursor: pointer;
	@include envited-signature-gradiant;
}
