.headerWrp {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.logo {
	padding: 2rem 2rem 1rem;
	a {
		display: block;
	}
	img {
		width: 100%;
		display: block;
	}
}

.menuWrp {
	padding-bottom: 2rem;
	flex-grow: 1;
}
