$purple: #8456ec;
$lightPurple: #f6f2ff;
$gray: #4f4f4f;
$darkBlue: #240d57;

$white: #ffffff;
$black: #000000;

$dark: #333333;
$red: #c63040;
$green: #5bc88d;
$blue: #033349;
$extraLightBlue: #9aa7b0;
