$purple: #8456EC;
$lightPurple: #F6F2FF;
$gray: #4F4F4F;
$darkBlue: #240D57;

$white: #ffffff;
$black: #000000;

$dark: #333333;
$red: #c63040;
$green: #5bc88d;
$blue: #033349;
$extraLightBlue: #9aa7b0;
